{% extends 'learning_app/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block page_header %}
    <style type="text/css">
        body{
            background-image:url("{% static 'users/img/阿狸.jpg' %}");
            background-repeat:repeat;
            background-size:100%;
        }
    </style>
    <h2>log in to your account.</h2>
{% endblock page_header %}
{% block content %}
    <form method="post" action="{% url 'users:login' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">log in</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'learning_app:index' %}"/>
    </form>
{% endblock content %}




